[user]
	name = Paul O'Neill
	email = poneill4@gmail.com
[core]
	excludesFile = ~/.gitignore
	filemode = false
	editor = code --wait
	autocrlf = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[http]
	postBuffer = 157286400
[pull]
	rebase = false
[fetch]
	prune = true
	parallel = 0
[rebase]
	autoStash = false
	autosquash = false
	updateRefs = false
[init]
	defaultBranch = main
[advice]
	detachedHead = false
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
	wt = worktree
[push]
	autoSetupRemote = true
[submodule]
	fetchJobs = 0
[checkout]
	workers = 0
[column]
	ui = auto