[user]
	name = Paul O'Neill
	email = paul.oneill@abcellera.com
[core]
	excludesFile = ~/.gitignore
	filemode = false
	editor = code --wait
	autocrlf = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[http]
	postBuffer = 157286400
[pull]
	rebase = false
[fetch]
	prune = true
	parallel = 0
[rebase]
	autoStash = false
	autosquash = false
	updateRefs = false
[init]
	defaultBranch = main
[advice]
	detachedHead = false
[alias]
	co = checkout
	br = branch
	st = status
	wt = worktree
[credential "helperselector"]
	selected = manager-core
[safe]
	directory = %(prefix)///csfs02.eng.cayvry1.abcbio.ca/eng/htr/settings/Orion-Settings
	directory = C:/Users/PaulONeill/SCC/Orion/orion-settings
	directory = C:/Users/PaulONeill/SCC/casper/cmake/hts_team_vcpkg_integration
	directory = C:/Users/PaulONeill/SCC/casper/experiment_dal
	directory = C:/Users/PaulONeill/SCC/casper/triton_wrapper
	directory = C:/Users/PaulONeill/SCC/casper/vcpkg
	directory = C:/Users/PaulONeill/SCC/casper/experiment_dal/test_data
	directory = C:/Users/PaulONeill/SCC/casper/experiment_dal/cmake/hts_team_vcpkg_integration
	directory = C:/Users/PaulONeill/SCC/casper/experiment_dal/vcpkg
	directory = C:/Users/PaulONeill/SCC/casper/triton_wrapper/vcpkg
	directory = C:/Users/PaulONeill/SCC/casper/triton_wrapper/cmake/hts_team_vcpkg_integration
	directory = %(prefix)///csfs02.eng.cayvry1.abcbio.ca/eng/htr/settings/PG-Settings
	directory = %(prefix)/C:/Users/PaulONeill/SCC/grpc-labview/third_party/grpc
	directory = C:/Users/PaulONeill/SCC/grpc-labview/third_party/grpc/third_party/bloaty
	directory = C:/Users/PaulONeill/SCC/grpc-labview/third_party/grpc/third_party/re2
	directory = C:/Users/PaulONeill/SCC/grpc-labview/third_party/grpc/third_party/xds
	directory = C:/Users/PaulONeill/SCC/grpc-labview/third_party/grpc/third_party/udpa
	directory = C:/Users/PaulONeill/SCC/grpc-labview/third_party/grpc/third_party/abseil-cpp
	directory = C:/Users/PaulONeill/SCC/grpc-labview/third_party/grpc/third_party/bloaty/third_party/abseil-cpp
	directory = C:/Users/PaulONeill/SCC/Cave-Falcon/cmake/hts_team_vcpkg_integration
	directory = C:/Users/PaulONeill/SCC/Cave-Falcon/vcpkg
	directory = C:/Users/PaulONeill/SCC/Cave-Falcon/casper
	directory = %(prefix)///wsl.localhost/Ubuntu/home/pfoneill/src/hts_team_infrastructure_provisioning
[push]
	autoSetupRemote = true
[submodule]
	fetchJobs = 0
[checkout]
	workers = 0
[credential "https://code.hampel-soft.com"]
	provider = generic
[maintenance]
	repo = C:/src/Orion
[column]
	ui = auto
